[submodule "external/secure_memory"]
	path = external/secure_memory
	url = ../../viaduck/secure_memory.git
[submodule "external/icu-cmake"]
	path = external/icu-cmake
	url = ../../viaduck/icu-cmake.git
